spring:
  application:
    name: locadora-rdt-backend

  datasource:
    url: jdbc:h2:mem:testdb-locadora
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080

security:
  oauth2:
    client:
      client-id: ${OAUTH_CLIENT_ID}
      client-secret: ${OAUTH_CLIENT_SECRET}

jwt:
  secret: ${JWT_SECRET}
  duration: ${JWT_DURATION}
  refresh:
    duration: 86400

app:
  frontend:
    base-url: http://localhost:4200
  activation:
    token-minutes: 30
